<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Egbuna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>


<body>
    <div class="center-text">
        <h2>Nathan Egbuna</h2>
        <p>Building cool stuff</p>
        <div class="social-links">
            <a href="https://github.com/negbuna" target="_blank"> <!-- _blank opens the link in a new tab -->
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/nathanegbuna/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</body>
</html>
