html, body {
    height: 100%;
    width: 100%;

}

body {
    background-color: whitesmoke;

}

@font-face {
    font-family: "Noto";
    src: url('/Users/nathanegbuna/Downloads/templates/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
}

p, h1, h2 {
    font-family: "Noto";
    font-weight: 500;


}

.center-text {
    text-align: center;


}